@model IEnumerable<User>
@{
	ViewBag.Title = "Managers";
}
@section links
{
	<link rel="stylesheet" href="~/client/css/getManagers.css">
}

<partial name="_ClientMenuPartial" />

<div class="container body-content">
	
	<h2>Наши менеджеры</h2>
	
	<div class="form-group has-search">
		<input type="text" id="search" class="form-control" placeholder="Поиск">
	</div>
	<table class="table">
		<thead>
		<tr>
			<th>Id</th>
			<th>Имя</th>
			<th>Контакты</th>
		</tr>
		</thead>
		
		<tbody>
		@foreach (var manager in Model)
		{
			<tr class="table-row" onclick="location.href = '@(Url.Action("GetManager", "Client", new { id = manager.Id }))'">
				<td class="searchable">
					@manager.Id
				</td>
				<td class="searchable">
					@manager.Name
				</td>
				<td class="searchable">
					@manager.Contacts
				</td>
			</tr>
		}
		</tbody>
	</table>
	
</div>

@section scripts {
	<script src="~/manager/js/getManagers.js"></script>
} 