@model User

@* $1$ TODO: код в формах дублируется #1# *@
@* <form asp-controller="Manager" asp-action="Create" method="post"> *@
@* 	<div class="modal-header"> *@
@* 		<h4 class="modal-title">Add Client</h4> *@
@* 		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> *@
@* 	</div> *@
@* 	<div class="modal-body"> *@
@* 		<div class="form-group"> *@
@* 			<label>Name</label> *@
@* 			<input type="text" class="form-control" required asp-for="Name"> *@
@* 		</div> *@
@* 		$1$ <div class="form-group"> #1# *@
@* 		$1$ 	<label>Address</label> #1# *@
@* 		$1$ 	<input type="text" class="form-control" required asp-for="Address"> #1# *@
@* 		$1$ </div> #1# *@
@* 		$1$ <div class="form-group"> #1# *@
@* 		$1$ 	<label>Phone</label> #1# *@
@* 		$1$ 	<input type="text" class="form-control" required asp-for="Phone"> #1# *@
@* 		$1$ </div> #1# *@
@* 	</div> *@
@* 	<div class="modal-footer"> *@
@* 		<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"> *@
@* 		<input type="submit" class="btn btn-success" value="Add"> *@
@* 	</div> *@
@* </form> *@