@model IEnumerable<Client>

<nav class="navbar navbar-light bg-light">
	<span class="navbar-brand mb-0 h1">Persons</span>
</nav>

<ul class="list-group">
	@foreach (var client in Model)
	{
		<li class="list-group-item">@client.Name</li>
	}
</ul>